body{
    display: flex;
    justify-content: center;
    background-color: #d3e0f0;
    flex-direction: column;
    align-items: center;
}

#titulo{
    width: 40%;
    height: 13vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
}

#div_pai{
    width: 45%;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    margin-top: auto;
    flex-direction: column;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.subtitulo{
    display: flex;
    color: rgb(22, 73, 117);
    font-size: 28px;
    justify-content: center;
    margin: 15px;
}

#textoinputs{
    /* display: flex; */
    font-size: 20px;
    /* flex-direction: column; */
    align-items: start;
    margin: 15px;
}

.inputs{
    /* display: flex; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 7px;
    font-size: 15px;
    width: 15%;
    height: 18px;
    justify-content: center;
    /* flex-direction: column; */
    /* text-align: center; */
}

.button_calcular{
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    border-radius: 15px;
    background-color: #0c1353;
    color: aliceblue;
    width: 200px;
    justify-content: center;
}

.div_estado{
    display: flex;
    font-size: 25px;
}
