/* ------------------------ COMEÇO DO BANNER -------------------------- */
.banner {
    background-image: url(assets/imgs/fundo.png);
    background-size: cover;
    height: 600px;
}

.banner .container {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 80%;
    margin: auto;
    height: 100%;
}

.banner .container .textos p {
    font-size: 36px;
    color: #444f6b;
    width: 320px;
    margin-bottom: 13px;
    font-weight: 500;
    animation-name: slide;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    /* deixa o resultado da animação permanentemente na tela */
    transform: translateX(-50px);
    /* define a posíção inicial no eixo x, para fazer a animação de slide  */
}

.banner .container .textos .botao {
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 0;
    border-radius: 20px;
    font-weight: 500;
    font-size: 15px;
    color: black;
    background-color: #f0f4fa;
    width: 250px;
    height: 40px;
    align-self: center;
    text-decoration: underline;
    animation-name: slide;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    /* deixa o resultado da animação permanentemente na tela */
    transform: translateX(-50px);
    /* define a posíção inicial no eixo x, para fazer a animação de slide  */
}


.banner .container .textos button:hover {
    background-color: #dfe2e8;
}

.box img {
    width: 200px;
    opacity: 0;
    animation-name: slide;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    /* deixa o resultado da animação permanentemente na tela */
    transform: translateX(50px);
    /* define a posíção inicial no eixo x, para fazer a animação de slide  */
    transition: width 2s;
}

.box img:hover {
    width: 210px;
}

.banner .container .boxes {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 200px;
}

.banner .container .boxes1 {
    margin-top: 70px;
}

/* ------------------------------- FIM DO BANNER ----------------------- */

/* ------------------------------- INICIO DO PROJETO -------------------------- */
#projeto {
    background-color: #f0f4fa;
    display: flex;
    height: 550px;
}

#projeto .container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: auto;
    height: 100%;
}

.bloco {
    background-color: #c9d2f1;
    width: 280px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px;
    animation: slide 3s forwards;
    transform: translateX(-50px);
}

#projeto .container .bloco img {
    width: 45px;
}

#projeto .container .bloco p {
    font-size: 16px;
    text-align: justify;
    color: #444f6b;
}

#projeto .container .bloco b {
    font-size: 16px;
    font-weight: 1500;
    color: #444f6b;
}

#projeto .container .bloco h2 {
    color: #131c31;
}
/* ---------------------------------- FIM DO PROJETO --------------------------------------*/

/* ---------------------------------- ÍNICIO SOBRE NÓS -------------------------------------- */
#sobre_nos{
    background-image: url('assets/imgs/fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 800px;
    display: flex;
    align-items: center;
}

#sobre_nos .container{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90%;
}

.texto{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card_1 {
    display: flex;
    animation: slide 3s forwards;
    transform: translateX(-50px);
}

.card_2 {
    display: flex;    
    animation: slide 3s forwards;
    transform: translateX(50px);
}

.card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #F0F4FA;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    height: 250px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.nome{
    font-weight: bold;
}

.card_img{
    object-fit: cover;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 180px;
}

.git_icon{
    width: 15px;
    margin-right: 5px;
}

/* ---------------------------------- FIM SOBRE NÓS ---------------------------------------- */

/* ---------------------------------- ÍNICIO DA ANIMAÇÃO ---------------------------------- */
@keyframes slide {

    from {
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}