body {
    margin: 0;
}

/*------------------------------- Ínicio banner da calculadora  ---------------------------*/

.bannerCalculadora {
    background-image: url(assets/imgs/fundo.png);
    background-size: cover;
    height: 600px;
    padding: 20px;
}

#containerCalculadora {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
} 

.caixa_formulario {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.titulo {
    display: flex;
    justify-content: center;
    color: rgb(7, 14, 77);
    font-size: 25px;
    font-weight: 800;
    padding: 10px;
}

.caixa_formulario .formulario {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        width: 410px;
        height: 475px;
        background-color: #f0f4fa;
        padding: 20px;
        padding-bottom: 15px;
}

.subtitulo {
    display: flex;
    justify-content: center;
    color: #444F6B;
    font-size: 22px;
    font-weight: 800;
}

select#select_estado {
    width: 140px;
    height: 35px;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.formulario span{
    color: #444F6B;
    font-size: 16px;
    text-align: justify;
}

.formulario input{
    width: 250px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    border:none;
    font-size: 15px;
}

.formulario .button_calcular{
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: rgb(19, 29, 110);
    color: white;
    font-size: 17px;
    font-weight: 800;
}

.formulario button:hover{
    background-color: rgb(46, 64, 129);
}

/* Inicio resultado */

#caixa_formulario_resultado{
    display: flex;
    align-self: flex-end;
}

#caixa_formulario_resultado .resultado{
    width: 560px;
    height: 500px;
    border-radius: 20px;
    padding: 10px;
    background-color: #f0f4fa;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    justify-content: space-between;
    align-items: center;
    
}

#caixa_formulario_resultado .resultado p{
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}

#caixa_formulario_resultado .resultado span{
    font-style: italic;
    font-weight: bold;
}

.button{
    background-color: #58799d;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 17px;
    font-weight: 800;
    text-align: center;
    
}

.button a{
    color: white;
}

.subtitulo_aquaguard{
    font-size: 30px;
    color: #447AA0;
    font-weight: 1000;
}


@keyframes slide {

    from{
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}