body {
    margin: 0;
}



.bannerCalculadora {
    background-image: url(assets/imgs/fundo.png);
    background-size: cover;
    height: 667px;
    padding-left: 10px;
    padding-right: 10px;
}

.containerCalculadora {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.caixa_formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 25px;
}

.titulo {
    display: flex;
    justify-content: center;
    color: rgb(7, 14, 77);
    font-size: 30px;
    font-weight: 900;
}

.caixa_formulario .formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        width: 600px;
        height: 550px;
        background-color: #f0f4fa;
        padding-top: 25px;
}

.subtitulo {
    display: flex;
    justify-content: center;
    color: rgb(7, 14, 77);
    font-size: 22px;
    font-weight: 800;
}

/* .caixa_formulario {
    margin-left: 100px;
} */

/* 
} */

.formulario span{
    color: rgb(6, 11, 58);
    font-size: 18px;
}

.formulario input{
    width: 250px;
    height: 20px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 15px;

}

.formulario .button_calcular{
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: rgb(19, 29, 110);
    color: white;
    font-size: 17px;
    font-weight: 800;
}

.formulario button:hover{
    background-color: rgb(46, 64, 129);
}

.caixa_formulario #resultado{
    display: flex;
    justify-content: end;
}

.resultado{
    /* margin-left: 50px; */
    width: 550px;
    height: 90vh;
    border-radius: 20px;
    padding: 20px;
    background-color: #f0f4fa;
    display: flex;
    justify-content: space-around;

}

.button{
    background-color: #58799d;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 17px;
    font-weight: 800;
    text-align: center;
    align-self: center;
    
    
}

/* .aquaguard{
    font-size: 30px;
    color: #447AA0;
    font-weight: 1000;
} */

#div_prejuizo{
    font-size: 15px;
    margin: 15px;
}

#div_prejuizo span{
    font-style: italic;
    font-weight: bold;
}

select#select_estado {
    width: 140px;
    height: 35px;
    border: none;
    padding: 5px;
    border-radius: 5px;
}


@keyframes slide {

    from{
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}