

/* ------------------------ COMEÇO DO BANNER -------------------------- */
.banner {
    background-image: url(assets/imgs/fundo.png);
    background-size: cover;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 667px;
}

.banner .container .textos p {
    font-size: 36px;
    color: #444f6b;
    width: 320px;
    margin-bottom: 13px;
    font-weight: 500;
    animation-name: slide;
    animation-duration: 3s;
    animation-fill-mode: forwards; /* deixa o resultado da animação permanentemente na tela */
    transform: translateX(-50px); /* define a posíção inicial no eixo x, para fazer a animação de slide  */
}

.banner .container .textos .botao {
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 0;
    border-radius: 20px;
    font-weight: 500;
    font-size: 15px;
    color: black;
    background-color: #f0f4fa;
    width: 250px;
    height: 40px;
    align-self: center;
    text-decoration: underline;
    animation-name: slide;
    animation-duration: 3s;
    animation-fill-mode: forwards; /* deixa o resultado da animação permanentemente na tela */
    transform: translateX(-50px); /* define a posíção inicial no eixo x, para fazer a animação de slide  */
}


.banner .container .textos button:hover {
    background-color: #dfe2e8;
}

.box img {
    width: 200px;
    opacity: 0;
    animation-name: slide;
    animation-duration: 3s;
    animation-fill-mode: forwards; /* deixa o resultado da animação permanentemente na tela */
    transform: translateX(50px); /* define a posíção inicial no eixo x, para fazer a animação de slide  */
}


.banner .container .boxes {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 200px;
}

.banner .container .boxes1 {
    margin-top: 70px;
}

/* ------------------------------- FIM DO BANNER ----------------------- */



/* ---------------------------------- ÍNICIO DA ANIMAÇÃO ---------------------------------- */
@keyframes slide {

    from{
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}