* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
}

.header {
    background-color: #f0f4fa;
    display: flex;
    height: 70px;
    border-bottom: 1.5px solid #444f6b;
}

.header .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .logo .imagem {
    width: 70px;
    animation-name: slide;
    animation-duration: 3s;
    animation-fill-mode: forwards; 
    transform: translateX(-20px);
}

.header .container .logo .frase {
    width: 150px;
    height: 25px;
    animation-name: slide;
    animation-duration: 3s;
    animation-fill-mode: forwards; 
    transform: translateX(-20px); 
}

.logo {
    display: flex;
    align-items: center;
}


.projeto {
    width: 500px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    font-size: 17px;
    
}

.usuario {
    width: 180px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: rgb(0, 0, 0);
    font-size: 17px;
}

.header .container .usuario img {
    width: 25px;
}

.header .container img {
    width: 200px;
    display: flex;
    margin-right: 4px;
}

.li_cadastro {
    margin-right: 30px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    font-size: 20px;
    color: #4f8296;
}

.banner {
    background-image: url(Assets/imagens/fundo.png);
    background-size: cover;
    height: 1100px;
}

.container {
    display: flex;
    justify-content: center;
} 

.titulo {
    display: flex;
    justify-content: center;
    color: rgb(7, 14, 77);
    font-size: 30px;
    font-weight: 900;
}

.subtitulo {
    display: flex;
    justify-content: center;
    color: rgb(7, 14, 77);
    font-size: 22px;
    font-weight: 800;
}

.caixa_formulario {
    margin-left: 100px;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 600px;
    height: 600px;
    background-color: #f0f4fa;
}

.formulario span{
    color: rgb(6, 11, 58);
    font-size: 18px;
}

.formulario input{
    width: 250px;
    height: 20px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 15px;

}

.formulario .button_calcular{
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: rgb(19, 29, 110);
    color: white;
    font-size: 17px;
    font-weight: 800;
}

.formulario button:hover{
    background-color: rgb(46, 64, 129);
}

.caixa_formulario #resultado{
    display: flex;
    justify-content: end;
}

.resultado{
    margin-left: 50px;
    width: 850px;
    height: 400px;
    border-radius: 20px;
    padding: 20px;
    background-color: #f0f4fa;
}

.button{
    background-color: #58799d;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 17px;
    font-weight: 800;
    text-align: center;
    margin-left: 380px;
}

.aquaguard{
    font-size: 30px;
    color: #447AA0;
    font-weight: 1000;
}

#div_prejuizo{
    font-size: 15px;
    margin: 15px;
}

#div_prejuizo span{
    font-style: italic;
    font-weight: bold;
}

select#select_estado {
    width: 140px;
    height: 35px;
    border: none;
    padding: 5px;
    border-radius: 5px;
}


@keyframes slide {

    from{
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}