* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
}

.header {
    background-color: #f0f4fa;
    display: flex;
    height: 70px;
}

.header .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projeto {
    width: 500px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    font-size: 17px;
    
}

.usuario {
    width: 180px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: rgb(0, 0, 0);
    font-size: 17px;
}

.header .container .usuario img {
    width: 25px;
}

.header .container img {
    width: 200px;
    display: flex;
    margin-right: 4px;
}

.li_cadastro {
    margin-right: 30px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    font-size: 20px;
    color: #4f8296;
}

.banner {
    background-image: url(Assets/imagens/fundo.png);
    background-size: cover;
    height: 900px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#titulo {
    display: flex;
    justify-content: center;
    color: rgb(7, 14, 77);
    font-size: 30px;
    font-weight: 900;
}

#subtitulo {
    display: flex;
    justify-content: center;
    color: rgb(7, 14, 77);
    font-size: 22px;
    font-weight: 800;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 600px;
    height: 600px;
    background-color: #f0f4fa;
}

.formulario span{
    color: rgb(6, 11, 58);
    font-size: 18px;
}

.formulario input{
    width: 250px;
    height: 20px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 15px;

}

.formulario button{
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: rgb(19, 29, 110);
    color: white;
    font-size: 17px;
    font-weight: 800;
}

.formulario button:hover{
    background-color: rgb(46, 64, 129);
}