* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.bannerProjeto {
    background-image: url(assets/imgs/fundo.png);
    background-size: cover;
    height: auto;
    
}

.bannerProjeto .container {
    padding: 4%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.bannerProjeto .container .blocoTextos{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    animation-name: slide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: translateX(-50px); 
}

.bannerProjeto .container .blocoTextos .bloco{

    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 5%;
    justify-content: flex-start;
    animation-name: slide;
    animation-duration: 1s;
    animation-fill-mode: forwards; 

}

.bannerProjeto .container .blocoTextos .bloco img{
    width: 60px;
}
.bannerProjeto .container .blocoTextos .bloco p {
    font-size: 16px;
    text-align: justify;
    color:#444f6b;
 }

 .bannerProjeto .container .blocoTextos .bloco b {
    font-size: 16px;
    font-weight: 1500;
 }

 .bannerProjeto .container .blocoTextos .bloco h2 {
    color:#444f6b;
 }




