.social {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fcfafa;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 204px;
    padding: 8px 0;
    margin: 10px;
}
.card img {
    border-radius: 100px;
    align-self: center;
    height: 200px;
    width: 90%;

}