
.banner_login{
    height: 450px;
    display: flex;
    align-items: center;
    background-image: url(assets/imgs/fundo.png);
    background-size: cover;
    
}

.banner_login .container {
    flex-direction: column;
    align-items: center;
    /* margin-inline: 10%; */
}

.banner_cadastro{
    height: 700px;
    display: flex;
    align-items: center;
    background-image: url(assets/imgs/fundo.png);
    background-size: cover;
}

.banner_cadastro .container {
    flex-direction: column;
    align-items: center;
    /* margin-inline: 10%; */
}

.textos {
    display: flex;
    justify-content: center;
    color: #444f6b;
    font-weight: 500;
    text-align: center;
    /* animation-name: slide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: translateX(-50px); */
}

.card {
    background: rgba(153, 198, 224, 0.137);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 2px solid #444f6b;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 400px;
    justify-content: center;
    align-items: center; 
    margin-top: 50px;
    /* animation-name: slide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: translateX(50px);*/
}

.banner_login .card{
    width: 300px;
}

.container button {
    color: #444f6b;
    background-color: rgba(186, 217, 235, 0.137);
    border: 2px solid #444f6b;
    border-radius: 6px;
    height: 35px;
    width: 30%;
    cursor: pointer;
    align-self: center;
    margin-bottom: 10px;
}

.campo {
    text-align: center;
}

.campo input {
    height: 30px;
    width: 75%;
    border-radius: 10%;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#link_conta {
    font-weight: 800;
}

.campo h2 {
    margin-top: 18px;
    margin-bottom: 3px;
}

#msg_erro {
    color: red;
    font-weight: 900;
    text-align: center;
    margin-block: 10px;
}

#entrar {
    margin-top: 20px;
}